@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
    margin: 0;
    color: white;
    font-family: 'Fredoka', sans-serif;
    background-color: #0D141A;
}



span {
    color: #FD6868;
}

h4, li {
    font-family: 'ABeeZee', sans-serif;
}

/* NAVBAR */
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 50px;
    margin-top: 20px;
}

li {
    margin-right: 43px;
    font-size: 28px;
}