@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600&family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    color: white;
    font-family: 'Fredoka', sans-serif;
    background-color: #0D141A;
}

.body-container {
    margin: 0px 20px 20px 104px;
}

h1{
    font-size: 75px;
    margin: 0 11px;
}

.html-word {
    position: relative;
    left: -50px;
}

.body-word {
    position: relative;
    left: -25px;
}

h4 {
    font-size: 17px;
    margin: 11px 0;
}

h2 {
    font-size: 50px;
    margin: 0 11px;
}

p {
    font-size: 25px;
    margin: 0 11px;
}

span {
    color: #FD6868;
}

h4, li {
    font-family: 'ABeeZee', sans-serif;
}

/* NAVBAR */
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px 50px;
    margin-top: 20px;
}

li {
    margin-right: 43px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

/* MAIN PAGE */
#main-page-container {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
}

.bombillo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.bombillo img {
    cursor: pointer;
}

.profile {
    height: 350px;
    width: 350px;
    border-radius: 200px;
    position: absolute;
    left: 920px;
    top: 190px;
}

/* CONTACT ME */

form {
    width: 311px;
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
}

input, textarea {
    color: #73A0BF;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    background-color: #284559;
    border: none;
}

textarea {
    height: 100px;
    min-height: 100px;
}

input::placeholder, textarea::placeholder {
    color: #73A0BF;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #4A96CC;
    padding: 7px;
    border: none;
    border-radius: 20px;
    width: 95px;
    align-self: flex-end;
}

/* media queries */
@media (max-width: 1200px) {
    .profile {
        height: 250px;
        width: 250px;
        border-radius: 150px;
        position: absolute;
        left: 860px;
        top: 200px;
    }
}